name: Terraform Reconfigure Backend
"on": workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  reconfigure:
    runs-on: ubuntu-latest
    environment: NygDevAzure
    env:
      ARM_USE_CLI: "true"
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
    steps:
      - uses: actions/checkout@v4

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Install Terraform'
        run: |
          TERRAFORM_VERSION=$(curl -s https://checkpoint-api.hashicorp.com/v1/check/terraform | jq -r .current_version)
          curl -fsSL "https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip" -o terraform.zip
          unzip -o terraform.zip -d /usr/local/bin/
          terraform version

      - name: 'Terraform Init (reconfigure)'
        working-directory: terraform
        run: terraform init -reconfigure
